.idea
nbproject
.vscode
MyProject/.vscode

MyProject/data/*.sql

MyProject/public/sitemin
MyProject/public/media



MyProject/config/enabled/sitemin.php
MyProject/module/sitemin

MyProject/config/enabled/api.php
MyProject/module/api





