@font-face {
    font-family: myFirstFont;
    src: url(/media/font/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}
@font-face {
    font-family: Source Sans Pro;
    src: url(/media/font/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

html * {
    font-family: "Source Sans Pro",myFirstFont, sans-serif;
    letter-spacing: 1px;

}
.h2 , h2 {
    font-size: 30px;
}
.h3, h3 {
    font-size: 24px;
}
.h4, h4 {
    font-size: 18px;
}

h1, h2 {
    letter-spacing: 2px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px 0;
    color: #333;
    font-weight: normal;
    line-height: 1.5;
}
h3.h3bottom {margin-bottom: 6px !important;}
.mt-7 {margin-top: 70px !important;}

span {
    letter-spacing: 2px;
    color: #7e7e7e;
    /* font-family: 'Abel', sans-serif; */
    font-size: 14px;
}

body {
    color: #323232;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

.navbar-nav.pagination0 {flex-direction:row}

.pagination0 > li  {margin: 0 3px;}
.pagination0 > li > a, .pagination0 > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

/** table style **/

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table  th {
    font-size: 14px;
    font-weight: 600;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.text-uppercase {
    text-transform: uppercase;
}

/** btn style **/
.btn-light-border {
    color: #222;
    border: 1px solid #f3cb73;
    background: transparent;
}

.btn-rounded {
    border-radius: 4px;
}
.btn-extra-small {
    padding: 5px 10px;
    font-size: 11px;
    font-weight: normal;
    background: rgba(243,194,90,0.2);
}
.btn {
    display: inline-block;
    margin-right: 10px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
}
.btn-small {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: normal;
}
.btn-light-border:hover {
    color: #fff !important;
    border: 1px solid #222;
    background: #444;
}
.btn-light-border:hover span{
    color: #fff !important;
}
.btn-menu {
    padding: 1px 3px 1px 4px;
    font-size: 10px;
    font-weight: normal;
    background: rgba(243,194,90,0.2);
    margin-right: 2px;
}

/** form control style **/

.has-icon .form-control {
    padding-left: 2.375rem;
}
.has-icon .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
#filter.search-form  .form-control { font-size: 12px; height: 30px;}
.apiusers0 .fa { font-size: 12px; padding-top: 3px;}
#filter .btn-extra-small {
    height: 30px;
}
a {color: #d39a1e;}
.tree  {
    background: #f5f5f5;
}
.tree  li {
    list-style: none;
}
.router {
    background: #f5f5f5;
}
.router-m {margin-top: 8px;}
.top10title {
    background: #f5f5f5;
}
.top10title li{
    padding: 10px;
}
.form-control {
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
}
.form-control:focus {
    border-color: #222;
    box-shadow: none;
}
.modal-body {padding: 30px;}
.width100   {width: 100%;}
select {
    height: 40px;
    padding-left: 20px;
}
<<<<<<< HEAD
.login-page {
=======
.login-page .modal-content {
>>>>>>> master
    width: 500px;
    margin: 0 auto;
    padding: 30px 30px 60px 30px;
    background: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.page-item.active .page-link, .page-item.active {
    color: #fff;
    background-color: #f1c360;
    border-color: #f1c360;
}
.white-container {
    background: #ffffff;
    overflow: hidden;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 43px 0px rgba(131, 131, 131, 0.23);
}

.tree .Hand.drop {
    background: #fff;
    border: 1px dashed;
    border-radius: 4px;
    padding: 5px;
}
