/*
------------------------------------------*/

/*----- this will force scrollbars to display ---- */
html {
/*overflow: scroll; (right and bottom both)  */
/* height:100.1%; right only. will not work in safari; */
/*height:101%;/* right only */
}




/*-------------------------------------------------
additional css
--------------------------------------------------*/
/**
 *display
 **/


.__AliceBlue{color:AliceBlue;}
.__AntiqueWhite{color:AntiqueWhite;}
._Aqua{color:Aqua;}
._Aquamarine{color:Aquamarine;}
._Azure{color:Azure;}
._Beige{color:Beige;}
._Bisque{color:Bisque;}
._Black{color:Black;}
._BlanchedAlmond{color:BlanchedAlmond;}
._Blue{color:Blue;}
._BlueViolet{color:BlueViolet;}
._Brown{color:Brown;}
._BurlyWood{color:BurlyWood;}
._CadetBlue{color:CadetBlue;}
._Chartreuse{color:Chartreuse;}
._Chocolate{color:Chocolate;}
._Coral{color:Coral;}
._CornflowerBlue{color:CornflowerBlue;}
._Cornsilk{color:Cornsilk;}
._Crimson{color:Crimson;}
._Cyan{color:Cyan;}
._DarkBlue{color:DarkBlue;}
._DarkCyan{color:DarkCyan;}
._DarkGoldenRod{color:DarkGoldenRod;}
._DarkGray{color:DarkGray;}
._DarkGreen{color:DarkGreen;}
._DarkKhaki{color:DarkKhaki;}
._DarkMagenta{color:DarkMagenta;}
._DarkOliveGreen{color:DarkOliveGreen;}
._DarkOrange{color:DarkOrange;}
._DarkOrchid{color:DarkOrchid;}
._DarkRed{color:DarkRed;}
._DarkSalmon{color:DarkSalmon;}
._DarkSeaGreen{color:DarkSeaGreen;}
._DarkSlateBlue{color:DarkSlateBlue;}
._DarkSlateGray{color:DarkSlateGray;}
._DarkTurquoise{color:DarkTurquoise;}
._DarkViolet{color:DarkViolet;}
._DeepPink{color:DeepPink;}
._DeepSkyBlue{color:DeepSkyBlue;}
._DimGray{color:DimGray;}
._DodgerBlue{color:DodgerBlue;}
._FireBrick{color:FireBrick;}
._FloralWhite{color:FloralWhite;}
._ForestGreen{color:ForestGreen;}
._Fuchsia{color:Fuchsia;}
._Gainsboro{color:Gainsboro;}
._GhostWhite{color:GhostWhite;}
._Gold{color:Gold;}
._GoldenRod{color:GoldenRod;}
._Gray{color:Gray;}
._Green{color:Green;}
._GreenYellow{color:GreenYellow;}
._HoneyDew{color:HoneyDew;}
._HotPink{color:HotPink;}
._IndianRed {color:IndianRed ;}
._Indigo {color:Indigo ;}
._Ivory{color:Ivory;}
._Khaki{color:Khaki;}
._Lavender{color:Lavender;}
._LavenderBlush{color:LavenderBlush;}
._LawnGreen{color:LawnGreen;}
._LemonChiffon{color:LemonChiffon;}
._LightBlue{color:LightBlue;}
._LightCoral{color:LightCoral;}
._LightCyan{color:LightCyan;}
._LightGoldenRodYellow{color:LightGoldenRodYellow;}
._LightGray{color:LightGray;}
._LightGreen{color:LightGreen;}
._LightPink{color:LightPink;}
._LightSalmon{color:LightSalmon;}
._LightSeaGreen{color:LightSeaGreen;}
._LightSkyBlue{color:LightSkyBlue;}
._LightSlateGray{color:LightSlateGray;}
._LightSteelBlue{color:LightSteelBlue;}
._LightYellow{color:LightYellow;}
._Lime{color:Lime;}
._LimeGreen{color:LimeGreen;}
._Linen{color:Linen;}
._Magenta{color:Magenta;}
._Maroon{color:Maroon;}
._MediumAquaMarine{color:MediumAquaMarine;}
._MediumBlue{color:MediumBlue;}
._MediumOrchid{color:MediumOrchid;}
._MediumPurple{color:MediumPurple;}
._MediumSeaGreen{color:MediumSeaGreen;}
._MediumSlateBlue{color:MediumSlateBlue;}
._MediumSpringGreen{color:MediumSpringGreen;}
._MediumTurquoise{color:MediumTurquoise;}
._MediumVioletRed{color:MediumVioletRed;}
._MidnightBlue{color:MidnightBlue;}
._MintCream{color:MintCream;}
._MistyRose{color:MistyRose;}
._Moccasin{color:Moccasin;}
._NavajoWhite{color:NavajoWhite;}
._Navy{color:Navy;}
._OldLace{color:OldLace;}
._Olive{color:Olive;}
._OliveDrab{color:OliveDrab;}
._Orange{color:Orange;}
._OrangeRed{color:OrangeRed;}
._Orchid{color:Orchid;}
._PaleGoldenRod{color:PaleGoldenRod;}
._PaleGreen{color:PaleGreen;}
._PaleTurquoise{color:PaleTurquoise;}
._PaleVioletRed{color:PaleVioletRed;}
._PapayaWhip{color:PapayaWhip;}
._PeachPuff{color:PeachPuff;}
._Peru{color:Peru;}
._Pink{color:Pink;}
._Plum{color:Plum;}
._PowderBlue{color:PowderBlue;}
._Purple{color:Purple;}
._RebeccaPurple{color:RebeccaPurple;}
._Red{color:Red;}
._RosyBrown{color:RosyBrown;}
._RoyalBlue{color:RoyalBlue;}
._SaddleBrown{color:SaddleBrown;}
._Salmon{color:Salmon;}
._SandyBrown{color:SandyBrown;}
._SeaGreen{color:SeaGreen;}
._SeaShell{color:SeaShell;}
._Sienna{color:Sienna;}
._Silver{color:Silver;}
._SkyBlue{color:SkyBlue;}
._SlateBlue{color:SlateBlue;}
._SlateGray{color:SlateGray;}
._Snow{color:Snow;}
._SpringGreen{color:SpringGreen;}
._SteelBlue{color:SteelBlue;}
._Tan{color:Tan;}
._Teal{color:Teal;}
._Thistle{color:Thistle;}
._Tomato{color:Tomato;}
._Turquoise{color:Turquoise;}
._Violet{color:Violet;}
._Wheat{color:Wheat;}
._White{color:White;}
._WhiteSmoke{color:WhiteSmoke;}
._Yellow{color:Yellow;}
._YellowGreen{color:YellowGreen;}

.AliceBlue{background:AliceBlue;}
.AntiqueWhite{background:AntiqueWhite;}
.Aqua{background:Aqua;}
.Aquamarine{background:Aquamarine;}
.Azure{background:Azure;}
.Beige{background:Beige;}
.Bisque{background:Bisque;}
.Black{background:Black;}
.BlanchedAlmond{background:BlanchedAlmond;}
.Blue{background:Blue;}
.BlueViolet{background:BlueViolet;}
.Brown{background:Brown;}
.BurlyWood{background:BurlyWood;}
.CadetBlue{background:CadetBlue;}
.Chartreuse{background:Chartreuse;}
.Chocolate{background:Chocolate;}
.Coral{background:Coral;}
.CornflowerBlue{background:CornflowerBlue;}
.Cornsilk{background:Cornsilk;}
.Crimson{background:Crimson;}
.Cyan{background:Cyan;}
.DarkBlue{background:DarkBlue;}
.DarkCyan{background:DarkCyan;}
.DarkGoldenRod{background:DarkGoldenRod;}
.DarkGray{background:DarkGray;}
.DarkGreen{background:DarkGreen;}
.DarkKhaki{background:DarkKhaki;}
.DarkMagenta{background:DarkMagenta;}
.DarkOliveGreen{background:DarkOliveGreen;}
.DarkOrange{background:DarkOrange;}
.DarkOrchid{background:DarkOrchid;}
.DarkRed{background:DarkRed;}
.DarkSalmon{background:DarkSalmon;}
.DarkSeaGreen{background:DarkSeaGreen;}
.DarkSlateBlue{background:DarkSlateBlue;}
.DarkSlateGray{background:DarkSlateGray;}
.DarkTurquoise{background:DarkTurquoise;}
.DarkViolet{background:DarkViolet;}
.DeepPink{background:DeepPink;}
.DeepSkyBlue{background:DeepSkyBlue;}
.DimGray{background:DimGray;}
.DodgerBlue{background:DodgerBlue;}
.FireBrick{background:FireBrick;}
.FloralWhite{background:FloralWhite;}
.ForestGreen{background:ForestGreen;}
.Fuchsia{background:Fuchsia;}
.Gainsboro{background:Gainsboro;}
.GhostWhite{background:GhostWhite;}
.Gold{background:Gold;}
.GoldenRod{background:GoldenRod;}
.Gray{background:Gray;}
.Green{background:Green;}
.GreenYellow{background:GreenYellow;}
.HoneyDew{background:HoneyDew;}
.HotPink{background:HotPink;}
.IndianRed {background:IndianRed ;}
.Indigo {background:Indigo ;}
.Ivory{background:Ivory;}
.Khaki{background:Khaki;}
.Lavender{background:Lavender;}
.LavenderBlush{background:LavenderBlush;}
.LawnGreen{background:LawnGreen;}
.LemonChiffon{background:LemonChiffon;}
.LightBlue{background:LightBlue;}
.LightCoral{background:LightCoral;}
.LightCyan{background:LightCyan;}
.LightGoldenRodYellow{background:LightGoldenRodYellow;}
.LightGray{background:LightGray;}
.LightGreen{background:LightGreen;}
.LightPink{background:LightPink;}
.LightSalmon{background:LightSalmon;}
.LightSeaGreen{background:LightSeaGreen;}
.LightSkyBlue{background:LightSkyBlue;}
.LightSlateGray{background:LightSlateGray;}
.LightSteelBlue{background:LightSteelBlue;}
.LightYellow{background:LightYellow;}
.Lime{background:Lime;}
.LimeGreen{background:LimeGreen;}
.Linen{background:Linen;}
.Magenta{background:Magenta;}
.Maroon{background:Maroon;}
.MediumAquaMarine{background:MediumAquaMarine;}
.MediumBlue{background:MediumBlue;}
.MediumOrchid{background:MediumOrchid;}
.MediumPurple{background:MediumPurple;}
.MediumSeaGreen{background:MediumSeaGreen;}
.MediumSlateBlue{background:MediumSlateBlue;}
.MediumSpringGreen{background:MediumSpringGreen;}
.MediumTurquoise{background:MediumTurquoise;}
.MediumVioletRed{background:MediumVioletRed;}
.MidnightBlue{background:MidnightBlue;}
.MintCream{background:MintCream;}
.MistyRose{background:MistyRose;}
.Moccasin{background:Moccasin;}
.NavajoWhite{background:NavajoWhite;}
.Navy{background:Navy;}
.OldLace{background:OldLace;}
.Olive{background:Olive;}
.OliveDrab{background:OliveDrab;}
.Orange{background:Orange;}
.OrangeRed{background:OrangeRed;}
.Orchid{background:Orchid;}
.PaleGoldenRod{background:PaleGoldenRod;}
.PaleGreen{background:PaleGreen;}
.PaleTurquoise{background:PaleTurquoise;}
.PaleVioletRed{background:PaleVioletRed;}
.PapayaWhip{background:PapayaWhip;}
.PeachPuff{background:PeachPuff;}
.Peru{background:Peru;}
.Pink{background:Pink;}
.Plum{background:Plum;}
.PowderBlue{background:PowderBlue;}
.Purple{background:Purple;}
.RebeccaPurple{background:RebeccaPurple;}
.Red{background:Red;}
.RosyBrown{background:RosyBrown;}
.RoyalBlue{background:RoyalBlue;}
.SaddleBrown{background:SaddleBrown;}
.Salmon{background:Salmon;}
.SandyBrown{background:SandyBrown;}
.SeaGreen{background:SeaGreen;}
.SeaShell{background:SeaShell;}
.Sienna{background:Sienna;}
.Silver{background:Silver;}
.SkyBlue{background:SkyBlue;}
.SlateBlue{background:SlateBlue;}
.SlateGray{background:SlateGray;}
.Snow{background:Snow;}
.SpringGreen{background:SpringGreen;}
.SteelBlue{background:SteelBlue;}
.Tan{background:Tan;}
.Teal{background:Teal;}
.Thistle{background:Thistle;}
.Tomato{background:Tomato;}
.Turquoise{background:Turquoise;}
.Violet{background:Violet;}
.Wheat{background:Wheat;}
.White{background:White;}
.WhiteSmoke{background:WhiteSmoke;}
.Yellow{background:Yellow;}
.YellowGreen{background:YellowGreen;}

.Clear{clear:both;}
.Hide{display:none;}
.Opicaty20{opacity:0.2}
.Opicaty40{opacity:0.4}
.Opicaty60{opacity:0.6}
.Opicaty80{opacity:0.8}
.MAuto{margin:auto;}
.Absolute{position:absolute;}
.Fixed{position:fixed;}
.Relative{position:relative;}
.Static{position:static;}


.Hand{cursor:pointer;}


.display{display: ;}
.displayNone{display:none;}
.displayInline{display:inline;}
.displayBlock{display:block;}
.displayInlineBlock{display:inline-block;}
.displayInlineTable{display:inline-table ;}
.displayListItem{display: list-item;}
.displayRunIn{display: run-in;}
.displayTable{display:table ;}
.displayTableCaption{display:table-caption ;}
.displayTableCell{display:table-cell ;}
.displayTableColumn{display:table-column ;}
.displayTableColumnGroup{display:table-column-group;}
.displayTableFooterGroup{display:table-footer-group ;}
.displayTableHeaderGroup{display:table-header-group ;}
.displayTableRow{display:table-row ;}
.displayTableRowGroup{display:table-row-group ;}
.displayInherit{display:inherit ;}



.visibilityHidden{visibility:hidden;}
.visibilityVisible{visibility:visible;}
.visibilityCollapse{visibility:collapse;}
.visibilityInherit{visibility:inherit;}

.overflowHidden{overflow:hidden;}
.overflowVisible{overflow:visible;}
.overflowCollapse{overflow:collapse;}
.overflowInherit{overflow:inherit;}
.overflowAuto{overflow:auto;}

.overflowXHidden{overflow-x:hidden;}
.overflowXVisible{overflow-x:visible;}
.overflowXCollapse{overflow-x:collapse;}
.overflowXInherit{overflow-x:inherit;}
.overflowXAuto{overflow-x:auto;}

.overflowYHidden{overflow-y:hidden;}
.overflowYVisible{overflow-y:visible;}
.overflowYCollapse{overflow-y:collapse;}
.overflowYInherit{overflow-y:inherit;}
.overflowYAuto{overflow-y:auto;}

.opacity0{opacity:0;filter:Alpha(opacity=0);}
.opacity1{opacity:0.1;filter:Alpha(opacity=10);}
.opacity2{opacity:0.2;filter:Alpha(opacity=20);}
.opacity3{opacity:0.3;filter:Alpha(opacity=30);}
.opacity4{opacity:0.4;filter:Alpha(opacity=40);}
.opacity5{opacity:0.5;filter:Alpha(opacity=50);}
.opacity6{opacity:0.6;filter:Alpha(opacity=60);}
.opacity7{opacity:0.7;filter:Alpha(opacity=70);}
.opacity8{opacity:0.8;filter:Alpha(opacity=80);}
.opacity9{opacity:0.9;filter:Alpha(opacity=90);}
.opacity10{opacity:1;filter:Alpha(opacity=100);}

.cursorAuto{cursor:auto}
.cursorCrosshair{cursor:crosshair}
.cursorDefault{cursor:default}
.cursorEResize{cursor:e-resize}
.cursorNResize{cursor:n-resize}
.cursorSResize{cursor:s-resize}
.cursorWResize{cursor:w-resize}
.cursorNEResize{cursor:ne-resize}
.cursorNWResize{cursor:nw-resize}
.cursorSEResize{cursor:se-resize}
.cursorSWResize{cursor:sw-resize}
.cursorHelp{cursor:help}
.cursorMove{cursor:move}
.cursorPointer{cursor:pointer}
.cursorProgress{cursor:progress}
.cursorText{cursor:text}
.cursorWait{cursor:wait}
.cursorInherit{cursor:inherit}


.textDecorationNone{text-decoration:none}
.textDecorationUndetLine{text-decoration:underline}
.textDecorationOverLine{text-decoration:overline}
.textDecorationLineThrough{text-decoration:line-through}
.textDecorationBlink{text-decoration:blink}
.textDecorationInherit{text-decoration:inherit}
.textTransformNono{text-transform:none}
.textTransformCapitalize{text-transform:capitalize}
.textTransformUpperCase{text-transform:uppercase}
.textTransformLowerCase{text-transform:lowercase}
.textTransformInherit{text-transform:inherit}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #fa0; }
    49%{    color: #fa0; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #ff0;    }
}

.NoWrap{ white-space: nowrap;}
/**
 *positioning
 **/
.clear{clear:both;}
.clearLeft{clear:left;}
.clearRight{clear:right;}

.positionAbsolute{position:absolute;}
.positionFixed{position:fixed }
.positionRelative{position:relative }
.positionInherit{position:inherit }
.positionStatic{position:static }
.positionLeft{left:0}
.positionRight{right:0}
.positionTop{top:0}
.positionBottom{bottom:0}



.floatLeft{float:left}
.floatRight{float:right}
.floatNone{float:none}
.floatInherit{float:inherit}

.textAlignLeft{text-align:left}
.textAlignRight{text-align:right}
.textAlignCenter{text-align:center}
.textAlignJustify{text-align:justify}
.textAlignInherit{text-align:inherit}

.verticalAlignBaseLine{vertical-align:baseline}
.verticalAlignSub{vertical-align:sub}
.verticalAlignSuper{vertical-align:super}
.verticalAlignTop{vertical-align:top}
.verticalAlignTextTop{vertical-align:text-top}
.verticalAlignMiddle{vertical-align:middle}
.verticalAlignBottom{vertical-align:bottom}
.verticalAlignTextBottom{vertical-align:text-bottom}
.verticalAlignInherit{vertical-align:inherit}



/** border **/
.borderLeft1Dash{
border-left:1px dashed #ddd;
}
.borderRight1Dash{
border-right:1px dashed #ddd;
}
.borderTop1Dash{
border-Top:1px dashed #ddd;
}
.borderBottom1Dash{
border-bottom:1px dashed #ddd;
}

/** round conner **/
.roundConner5{
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.roundConner10{
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
.roundConner15{
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
}
.roundConner20{
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
}
.roundConner25{
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
}


/** use template **/
.wp100{width:100%;}
.w10{width:10px;}
.w15{width:15px;}
.w30{width:30px;}
.w50{width:50px;}
.w60{width:60px;}
.w80{width:80px;}
.w85{width:85px;}
.w180{width:180px;}
.w250{width:250px;}
.w350{width:350px;}
.w500{width:500px;}
.w550{width:550px;}
.w600{width:600px;}
.w660{width:660px;}
.w840{width:840px;}



.h0{height:0px}
.h1{height:1px}
.h8{height:8px}
.h18{height:18px}
.h28{height:28px}
.h38{height:38px}

.h300{height:300px}
.h400{height:400px}
.h700{height:700px}

.note{
color:#555;
font-size:9px;
}


.p_a{
position:absolute;
}
.p_r{
position:relative;
}

.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}

.fr{float:right}
.fl{float:left}




.ma{margin:auto}

.ml8{margin-left:8px;}
.mr8{margin-right:8px;}
.ml20{margin-left:20px;}
.mt8{margin-top:8px;}
.mt20{margin-top:20px;}

.mb8{margin-bottom:8px;}
.mb20{margin-bottom:20px;}

.clear{clear:both;}

.none{
display:none;
}

.invisible{
visibility:hidden;
}

.on{
background:#efefef;
}

.off{
background:#999;
}

.noOutline{
outline: 0;
}

.noUnderline{
text-decoration:none;
}
.noBorder{
border-color:transparent;
}
.noDropDown{
border-color:transparent;
background-color:transparent;
}
/** border button */
.bb{
	border-top:#eee 2px solid;
	border-left:#eee 2px solid;
	border-right:#aaa 2px solid;
	border-bottom:#333 2px solid;
}
.b{
    font-weight:bold;
}
.inline{
    display: inline;
}
.block{
    display:block;
}
.clickable{
    cursor:pointer;
}
.movable{
    cursor:move;
}
.resizeE{cursor:e-resize;}
.resizeS{cursor:s-resize;}
.resizeW{cursor:w-resize;}
.resizeN{cursor:n-resize;}


.grey3{color:#333333}
.grey6{color:#666666}
.grey9{color:#999999}
.greyc{color:#cccccc}


.msg{
border:1px #fde0e0 solid;
background:#ffe9e9;
color:#ff0000;
padding:20px;
}

.stop_inheritance{
margin:0;
padding:0;
height:0;
height:auto;
width:0;
width:auto;
line-height:0;;
line-height:auto;
display:inline;
float:none;
border:0;

}

.large{
font-size:2em;
}

.separator{
border-top:1px dotted #bbb;
height:2px;
padding-top:-12px;
margin:26px 0;
}
.separator div{
margin-top:-12px;
}
.separator div span{
padding:3px 12px;
background:#fcfcfc;
}


html {width:100%;}
body {
width:100%;
margin:0;
max-width: 100%;
color:#333;
font-size:10p;
font-family: 'Abel', sans-serif;
line-height:1.2em;
}

h1{font-size: 4.6em; font-weight: 900}
h2{font-size:3.4em ; font-weight: 800}
h3{font-size:2.4em ; font-weight: 700}
h4{font-size:1.8em ; font-weight: 600}
h5{font-size:1.2em ; font-weight: 500}
h6{font-size:1.2em ; font-weight: 400}



p{
font-size:1.05em;
}

.loader {
    border: 4px solid #a3a3a3; /* Light grey */
    border-top: 4px solid #fff; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/** others **/

.CODE{
	font-family: monospace;
	background:#222;
	white-space: pre;
	color:#fdb;
	padding:8px;
	display:block;
}

.PRE {
white-space: pre;	
}
